@model List<Cources.Entities.Category>
@using Cources.Extensions
@using System.Collections;


<h3 class="mt-4">Add Members to Category</h3>
<hr />

<form id="MembersToCategory" asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h4>Category</h4>
                <select id="CategoryId" name="CategoryId" class="form-control" @*asp-items="Model.ConvertToSelectList(1)"*@>
                    @*<option value="0">--Please choose a Category--</option>*@
                    @foreach (var item in Model)
                    {
                        <option>@item.Title</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="alert_placeholder">

    </div>
    <div class="sub-chiled-button">

        <input type="button" value="OK" onclick="getCategoryUsers()" />

    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h4>Members</h4>
            <div class="form-group">
                <div id="UsersCheckList">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ ArrayList lst1 =ViewBag.getUsers; }
                            @if (lst1 != null)
                            {

                                @foreach (ArrayList user in lst1)
                                {
                                    <tr>
                                        @for (var j = 0; j <= user.Count; j++)
                                        {

                                            <td>@user[j]</td>


                                        }
                                    </tr>
                                        }
                                        }
                                    </tbody>
                    </table>
                    @*<partial name="_ChosedUsers" id="pdf1" model="false" />*@
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h4>Members</h4>
            <div class="form-group">
                <div id="UsersCheckList">
                    <partial name="_UsersListViewPartial" id="pdf1" model="false" />
                    @*<table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-group text-right">
                                                                        <button type="button" id="SaveSelectedUsers" name="SaveSelectedUsers" class="btn btn-outline-info" onclick="getLecture2()">Save</button>
                                                                    </div>
                                                                </td>
                                                                <td>@user.FirstName</td>
                                                                <td>@user.LastName</td>
                                                            </tr>
                        }}
                                                </tbody>
                                            </table>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-10">
                <div class="form-group text-right">
                    <button type="button" id="SaveSelectedUsers" name="SaveSelectedUsers" class="btn btn-outline-info" onclick="getLecture2()">Save</button>
                </div>
            </div>
        </div>*@
</form>
@*<div class="progress collapse">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-white" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height:100%;">
            <span style="font-size: 2rem;">Saving Data...</span>
        </div>
    </div>*@
<div class="col-md-12">
    <div class="alert alert-success alert-dismissible collapse text-center" style="font-size: 2rem;" role="alert">
        The Data has been saved successfully!!
    </div>
</div>










<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function getCategoryUsers() {
        $.ajax({
            async: true,
            method: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/UserCategory/getCategoryUsers',
            data: { teacherName: $("#CategoryId").val() },
            success: function (data) {
                
            //    $("#pdf1").attr("model", data);
            },
            error: function () {
                console.log("There is a proplem not get the Users!!!")
            }

        });
    }
    window.addEventListener('load', function () {

        $.ajax({
            async: true,
            method: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/UserCategory/getAllUsers',
            success: function (data) {

                $("#pdf1").attr("model", data);
            },
            error: function () {
                console.log("There is a proplem not get the Users!!!")
            }

        });
    };

    function save() {
        $.ajax({
            async: true,
            method: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/UserCategory/save',
            data: { CourseName: $("#CategoryId").val(), FirstName: $("#FirstName").val(), LastName: $("#LastName").val() },
            success: function (data) {

                alert("Saved done successfuly!!!");
            },
            error: function () {
                console.log("There is a proplem not get the Lecture!!!")
            }

        });
        function getCategoryUsers();
    }
</script>
