@model List<Cources.Areas.Admin.Models.UserModel>
@using Cources@*.Comparers*@


<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

           

      
            @*@foreach (var user in Model)
            {
                    @foreach (var j in user)
                    {
                        <tr>
                            <td>@j.FirstName</td>
                            <td>@j.LastName</td>
                        </tr>

                    }
            }*@
        }
    </tbody>
</table>
